<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <%-- For JQuery and JQueryUI --%>
    <script src="Scripts/jquery-1.10.2.js"></script>
    <script src="Scripts/jquery-ui-1.10.4.custom.js"></script>
    <script src="Scripts/jquery-ui-1.10.4.custom.min.js"></script>
    <link href="Styles/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <link href="Styles/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />

    <%-- For CSS --%>
    <link href="Styles/MainStyles.css" rel="stylesheet" />

    <%-- For Rich Text Editor --%>
    <script src="ckeditor/ckeditor.js"></script>

    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
        <img alt="Texas Tech" src="Images/Texas_Tech_University_banner.png" />
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>